<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="FirebaseUrl" value="https://it332-final-project-default-rtdb.asia-southeast1.firebasedatabase.app/" />
    <add key="FirebaseSecret" value="h78I5J01gyPvGWahcnBsh0BqwVOCSvVZ3zn6uslG" />
  </appSettings>
</configuration>